body{
    background-image: url("Z.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
.text1{
    position: absolute;
    top: 20px;
    margin-top: 0px;
    left: 30px;
}

.box1{
    border: 1px solid black;
    padding: 10px;
}

.degrees{
position: relative;
top: 08px; 
left: 20px;
font-size: 40px;
}
.time1{
 
font-size: 58px;

}
.rain{
    font-size: 40px;
}
.box2{
    border: 1px solid black;
    padding: 10px;
}
.fa-location-dot {
    position: absolute;
    top: 10px;
    right: 40px;
    left: 300px;
   
  }
  .rain2{
    font-size: 40px;
    color: azure;
  
  }
  .text2{
    font-family: fantasy;
    font-size: 20px;
    display: flex;
  justify-content: space-between;

  }
 
  .time2{
   font-size: 20px;
    display: flex;
    justify-content: space-between;
  
  }
 .details{
    color: darkorange;
  position: relative;
    bottom: 0;
    left: 50px;
    border-bottom: 2px solid black;
  padding-left: 500px;
 
 }
 
  